<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/index.html">
        {% if page.name == 'index.html' %}
            <strong>Home </strong>
        {% else %}
            Home
        {% endif %} 
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/life.html">
        {% if page.name == 'life.html' %}
            <strong>
                Life
            </strong>
        {% else %}
            Life
        {% endif %} 
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/insight.html">
        {% if page.name == 'insight.html' %}
            <strong>
                Insight
            </strong>
        {% else %}
            Insight
        {% endif %} 
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/categories.html">
        {% if page.name == 'categories.html' %}
            <strong>
                Categories
            </strong>
        {% else %}
            Categories
        {% endif %} 
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/authors-list.html">
        {% if page.name == 'authors-list.html' %}
            <strong>
                Authors
            </strong>
        {% else %}
            Authors
        {% endif %} 
    </a>
</li>