<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/index.html">
        {% if page.name == 'index.html' %}
            <strong>Home</strong>
        {% else %}
            Home
        {% endif %} 
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/cities.html">
        {% if page.name == 'cities.html' %}
            <strong>
                Cities
            </strong>
        {% else %}
            Cities
        {% endif %} 
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/insights.html">
        {% if page.name == 'insights.html' %}
            <strong>
                Insights
            </strong>
        {% else %}
            Insights
        {% endif %} 
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/categories.html">
        {% if page.name == 'categories.html' %}
            <strong>
                Categories
            </strong>
        {% else %}
            Categories
        {% endif %} 
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/digital-nomad.html">
        {% if page.name == 'digital-nomad.html' %}
            <strong>
                Digital Nomad
            </strong>
        {% else %}
        Digital Nomad
        {% endif %} 
    </a>
</li>


<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/authors-list.html">
        {% if page.name == 'authors-list.html' %}
            <strong>
                Authors
            </strong>
        {% else %}
            Authors
        {% endif %} 
    </a>
</li>