<!--  Replace menu links here -->

<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.url}}/index.html">
        {% if page.name == 'index.html' %}
            <strong>首页 | Home</strong>
        {% else %}
            首页 | Home
        {% endif %} 
    </a>
</li> -->

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/life.html">
        {% if page.name == 'life.html' %}
            <strong>
                生活 | Life
            </strong>
        {% else %}
            生活 | Life
        {% endif %} 
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/insights.html">
        {% if page.name == 'insights.html' %}
            <strong>
                洞见 | Insights
            </strong>
        {% else %}
            洞见 | Insights
        {% endif %} 
    </a>
</li>


<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/mini-talk.html">
        {% if page.name == 'mini-talk.html' %}
            <strong>
                MINI | TALK
            </strong>
        {% else %}
            MINI | TALK
        {% endif %} 
    </a>
</li>

<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.url}}/categories.html">
        {% if page.name == 'categories.html' %}
            <strong>
                分类 | Categories
            </strong>
        {% else %}
            分类 | Categories
        {% endif %} 
    </a>
</li> -->

<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.url}}/digital-nomad.html">
        {% if page.name == 'digital-nomad.html' %}
            <strong>
                数字游民 | Digital Nomad
            </strong>
        {% else %}
        数字游民 | Digital Nomad
        {% endif %} 
    </a>
</li> -->


<li class="nav-item">
    <a class="nav-link" href="{{site.url}}/authors-list.html">
        {% if page.name == 'authors-list.html' %}
            <strong>
                作者 | Authors
            </strong>
        {% else %}
            作者 | Authors
        {% endif %} 
    </a>
</li>